.Home {
	background: $background-body;
	height: 100vh;
	overflow: auto;

	&-container {
		display: block;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		width: 600px;
	}

	&-title {
		color: $white;
		display: block;
		font-family: $font-primary;
		font-size: 44px;
		letter-spacing: 0.1em;
		margin: 0 auto;
		padding: 40px 0;
		text-transform: uppercase;
		text-align: center;

		&::after {
			background: $black;
			content: '';
			display: block;
			height: 2px;
			margin: 0 auto;
			margin-top: 20px;
			width: 160px;
		}
	}

	&-form {
		display: flex;
		align-items: center;
		flex: 1;
		gap: 20px;
		justify-content: center;
		margin-bottom: 60px;
		width: 100%;
	}

	&-input {
		background: $white;
		border: none;
		border-radius: 10px;
		font-family: $font-secondary;
		font-size: 18px;
		height: 60px;
		padding: 15px;
		text-align: center;
		width: 100%;

		&:focus {
			border: $purple;
		}

		&::placeholder {
			color: map-get($gray, regular);
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
